<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>frsentry</name>
	<displayName><![CDATA[Sentry Integration]]></displayName>
	<version><![CDATA[2.1.2]]></version>
	<description><![CDATA[Monitor bugs and check the availability of your store with sentry integration]]></description>
	<author><![CDATA[Mateusz Szymanski Frento IT]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
